name: Lint and Release Charts

on:
  push:
    branches: [master, upgrade_chart_testing_action_version]
  pull_request:
    branches: []
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Fetch history
      run: git fetch --prune --unshallow
    - name: gitLeaks
      uses: zricethezav/gitleaks-action@v1.1.2
    - name: Install chart-testing (lint)
      uses: helm/chart-testing-action@v2.0.1
    - name: Run chart-testing (list-changed)
      id: list-changed
      run: |
        changed=$(ct list-changed)
        if [[ -n "$changed" ]]; then
          echo "::set-output name=changed::true"
        fi
    - name: Run chart-testing (lint)
      run: ct lint
    - name: Create kind cluster
      uses: helm/kind-action@v1.0.0
      # Only build a kind cluster if there are chart changes to test.
      if: ${{ steps.lint.outputs.changed == 'true' && github.event_name == 'push' }}
    - name: Run chart-testing (install)
      run: ct install
  release:
    runs-on: ubuntu-latest
    needs: lint
    if: ${{ github.event_name == 'push' &&  github.ref == 'refs/heads/master' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Fetch history
        run: git fetch --prune --unshallow
      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.0.0-rc.2
        env:
          CR_TOKEN: "${{ secrets.CR_TOKEN }}"

